{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include "blocks/messages.html" %}

<div class="fr-container fr-mt-6w">
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12">
            <h3>Espace de démonstration</h3>
            <ul>
                <li><a target="_blank" rel="noopener" title="Accès aux de données" href="https://grist.incubateur.net/o/tous-a-bord/tp4ZSGyfvqHd/Donnees-CAF-de-demonstration/p/2">
                    Accédez à la saisie de données de démonstration
                </a></li>
                <li><a class="fr-link" href="/demo/export/select">
                    Sélectionnez des données à transmettre via HubEE
                </a></li>
                <li><a class="fr-link" href="/demo/import">
                    Lancer une récupération de données sur HubEE
                </a></li>
                <li><a class="fr-link" href="/demo/imports">
                    Accédez à la liste des données importées
                </a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock content %}
