{% extends "dsfr/header.html" %}

{% block brand %}
  <a href="/" title="Accueil — {{ SITE_CONFIG.site_title }}">
    <p class="fr-logo">république<br />française</p>
  </a>
{% endblock brand %}

{% block service_title %}
    <h3>Tous à bord !</h3>
{% endblock service_title %}

{% block service_tagline %}{{ SITE_CONFIG.site_tagline }}{% endblock service_tagline %}

{% block header_tools %}
<li>
    {% if user.is_authenticated %}
      <form action="{% url 'oidc_logout' %}" method="post">
        {% csrf_token %}
        <button class="fr-btn fr-btn--secondary" type="submit">Se déconnecter</button>
      </form>
    {% else %}
      <a class="fr-btn fr-icon-lock-line" href="/login">
        Se connecter
      </a>
    {% endif %}

</li>
{% endblock header_tools %}

{# Leave burger_menu and main_menu blocks empty if the main menu is not used #}
{% block burger_menu %}
{% endblock burger_menu %}

{% block main_menu %}
{% endblock main_menu %}
