{% if messages %}
    {% for message in messages %}
        {% if message.tags == "error" %}
            <div class="fr-alert fr-alert--error">
                <h3 class="fr-alert__title">Erreur</h3>
                <p>{{ message }}</p>
            </div>
        {% elif message.tags == "warning" %}
            <div class="fr-alert fr-alert--info fr-alert--sm fr-mb-5w" role="status">
                <h3 class="fr-alert__title">Attention !</h3>
                <p>{{ message }}</p>
            </div>
        {% elif message.tags == "success" %}
            <div class="fr-alert fr-alert--success fr-alert--sm fr-mb-5w" role="status">
                <p>{{ message }}</p>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
