{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include "blocks/messages.html" %}

<div class="fr-container fr-mt-6w">
    <div class="fr-grid-row fr-grid-row--gutters">
        <h1>Interface d'interrogation de l'API Etudiants Boursiers</h1>

        <div class="fr-col-12">
            <form action="" method="POST">
                {% csrf_token %}

                <div class="fr-col-12 fr-col-sm-6">
                    <div class="fr-search-bar fr-search-bar--lg" role="search">
                    <label class="fr-label" for="numero_ine">
                        {{ form.numero_ine.label }}
                    </label>
                    <input class="fr-input" placeholder="Rechercher" type="search" id="numero_ine" name="numero_ine" value="{{ form.numero_ine.label }}">
                    <input class="fr-btn" type="submit" value="Rechercher">
                    </div>
                </div>
            </form>

            <div class="fr-col-12 fr-mt-4w">
                {% for key, value in inscription_data.items %}
                    <ul>
                        <li><b>{{ key }}</b> : {{ value }}</li>
                    </ul>
                {% endfor %}
            </div>

        </div>
    </div>
</div>

{% endblock content %}
