{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="fr-container fr-my-6w">
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-sm-10 fr-col-offset-sm-1">
            <h1 class="fr-display--sm">Tous à bord !</h1>
            <h2>Profitez-vous des aides auxquelles vous êtes éligibles ?</h2>

            <p>Pour lutter contre le non-recours aux aides, Tous à bord ! propose de déplacer la responsabilité de l'attribution ces aides des usager(e)s aux collectivités territoriales. Pour se faire, nous accompagnons les Autorités Organisatrices de la Mobilité (AOM) dans la notification des citoyens éligibles et dans la délivrance des tarifs préférentiels.</p>
            
            <p>Tous à bord ! est porté par la Direction Interministérielle du Numérique (DINUM) et la Direction Générale des Infrastructures, des Transports et des Mobilités (DGITM), et dans le cadre du chantier « administration proactive ». Ce projet s'inscrit dans la continuité des travaux portant sur le développement de l'API Tarification sociale et solidaire des transports, pilotés par ETALAB et le GART. Voir <a href=https://beta.gouv.fr/startups/tous.a.bord.html target="_blank">la fiche</a> sur le site de beta.gouv.fr.</p>
        </div>
    </div>
</div>

{% endblock content %}
