{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="fr-container fr-mt-6w">
    <div class="fr-grid-row fr-grid-row--gutters">
        
        <div class="fr-col-12">
            <h1 class="fr-display--sm">Tous à bord !</h1>
            <h2>Notre mission : automatiser l'attribution des aides liées aux transports</h2>
        </div>

        <div class="fr-col-4">
            <div class="bordered fr-p-2w">
                <img class="fr-responsive-img" src="{% static 'public_website/Puzzle-pana.svg' %}" alt="">
            </div>
        </div>

        <div class="fr-col-8">
            <p>Vous avez reçu un mail de <strong>Tous à bord</strong> ? Cela signifie que vous êtes éligible à un tarif préférentiel pour votre titre de transports !</p>

            <p>La notion de « <strong>non-recours</strong> » renvoie aux personnes qui ne bénéficient pas des aides auxquelles elles sont éligibles, souvent en raison de non-information, de complexité administrative ou de défiance. Depuis octobre 2022, le gouvernement met en place des stratégies de lutte contre ce non-recours, pour <strong>informer les citoyens sur leur éligibilité et simplifier leurs démarches.</strong></p>

            <p>Ainsi, avec le soutien de vos réseaux de transports locaux, <strong>Tous à bord !</strong> contacte les usagers éligibles à des aides locales liées aux transports, pour les informer et les encourager à bénéficier de ces aides. Nous menons actuellement des expérimentations dans plusieurs endroits en France : <p>
                <ul>
                    <li>
                        Les Hauts-de-France, avec Artois Mobilités et Transdev, pour les demandeurs d'emploi
                    </li>
                    <li>
                        Brest, avec la Métropole et l'opérateur bibus, pour les étudiants boursiers
                    </li>
                </ul>
            </p>
        </div>
    </div>
    <hr>
    <h2>Questions fréquentes</h2>
        <h3 >
            Qui impulse l'initiative "Tous à bord !" ?
        </h3>
            <p>
            <strong>Tous à bord !</strong> est une start-up d'Etat portée par la Direction Interministérielle du Numérique (DINUM) et la Direction Générale des Infrastructures, des Transports et des Mobilités (DGITM) dans le cadre du chantier « administration proactive ».
            </p>
        <h3>
            Qu'est-ce que l'administration proactive ?
        </h3>
            <p>Dans une logique de simplification et de lutte contre le non-recours aux droits, l'administration souhaite aller au-devant des citoyens en les informant des droits auxquels ils pourraient prétendre et si possible en leur attribuant automatiquement ces droits.</p>
        <h3>
           Qu'est-ce que le non-recours ?
        </h3>
            <p>La notion de « non-recours » recouvre les cas où les personnes ne bénéficient pas des droits auxquels elles sont éligibles, le plus souvent, en raison d'un manque d'information ou de complexités administratives.</p>

            <p>Le taux de non-recours varie entre 30 et 70% en fonction des études, des territoires et des aides.</p>
        <h3 >
         Je ne me suis pas inscrit·e sur Tous à Bord, pourquoi ai-je reçu un courrier ?
        </h3>
            <p>Le code des relations entre le public et l’administrations (art. L. 114-8 et suivants) a fixé le cadre juridique relatif aux échanges de données entre administrations pour traiter les démarches entamées par les usagers ou mener des actions proactives à leur égard.</p>

            <p>C'est dans ce contexte, et afin de vous informer des droits dont vous pouvez bénéficier que vous avez reçu une lettre.</p> 
        <h3>
            Je ne souhaite pas être recontacté·e. Ai-je le droit de m'y opposer ?
        </h3>
            <p>Oui. Dans la lettre que vous avez reçue, vous êtes informé·e de vos droits de vous opposer à la poursuite du traitement de vos données et notamment celui de ne pas être recontacté·e ou de refuser les droits qui pourraient vous être attribués. Les modalités d’exercice de vos droits sont précisés dans le lettre.</p>
        <h3>
           Dans le mail que j'ai reçu, les données sont erronées. Comment puis-je les corriger ?
        </h3>
            <p>Si vous avez été contacté·e par erreur ou si vos données sont erronées, vous pouvez les corriger en envoyant un mail à tousabord@beta.gouv.fr en précisant les données exactes. Nos agent·es transféreront vos informations à l'administration concernée et vos données seront rectifiées dans les plus brefs délais.</p>
    </div>
</div>

{% endblock content %}
