{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="fr-container fr-mt-6w">
    <div class="fr-grid-row fr-grid-row--gutters">
        <h1>Artois Mobilités</h1>

        <div class="fr-col-12">
            <form action="" method="POST">
                {% csrf_token %}
                
                <div class="fr-col-12 fr-col-sm-6">
                    <label class="fr-label" for="identifiantPE">{{ form.identifiantPE.label }}</label>
                    <input class="fr-input" type="text" id="identifiantPE" name="identifiantPE" value="{{ form.data.identifiantPE }}">
                    <input type="submit" value="Rechercher">
                </div>
            </form>

            <div class="fr-col-12 fr-mt-4w">
                {% for key, value in inscription_data.items %}
                    <ul>
                    {% if key == "adresse" %}
                        <li><b>{{ key }}</b> :
                            <ul>
                                {% for adress_key, adress_value in value.items %}
                                    <li><b>{{ adress_key }}</b> : {{ adress_value }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li><b>{{ key }}</b> : {{ value }}</li>
                    {% endif %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
