{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include "blocks/messages.html" %}

<div class="fr-container fr-mt-6w">
    <div class="fr-grid-row fr-grid-row--gutters">
        <h1>Interface d'interrogation de l'API Pôle Emploi</h1>

        <div class="fr-col-12">
            <form action="" method="POST">
                {% csrf_token %}
                
                <div class="fr-col-12 fr-col-sm-6">
                    <div class="fr-search-bar fr-search-bar--lg" role="search">
                    <label class="fr-label" for="identifiant_pole_emploi">
                        {{ form.identifiant_pole_emploi.label }}
                    </label>
                    <input class="fr-input" placeholder="Rechercher" type="search" id="identifiant_pole_emploi" name="identifiant_pole_emploi" value="{{ form.data.identifiant_pole_emploi }}">
                    <input class="fr-btn" type="submit" value="Rechercher">
                    </div>
                </div>
                
            </form>

            <div class="fr-col-12 fr-mt-4w">
                {% for key, value in inscription_data.items %}
                    <ul>
                    {% if key == "adresse" %}
                        <li><b>{{ key }}</b> :
                            <ul>
                                {% for adress_key, adress_value in value.items %}
                                    <li><b>{{ adress_key }}</b> : {{ adress_value }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li><b>{{ key }}</b> : {{ value }}</li>
                    {% endif %}
                    </ul>
                {% endfor %}
            </div>

        </div>
    </div>
</div>

{% endblock content %}
